{% extends "base.html" %}

{% block title %}Home{% endblock title %}


{% block content %}
<div class="container ">
<h1 class="text-center text-white my-4">Tweet Wolrd</h1>
<h1 class="text-center text-white my-4">Are you sure you wanna delete?</h1>
<h2>

    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}

<button class="btn btn-danger" type="submit">Delete</button>
<a class="btn btn-info" href="{% url 'index' %}">Cancel</a>
    </form>
</h2>
</div>
{% endblock content %}